[submodule "lts-haskell"]
	path = lts-haskell
	url = https://github.com/fpco/lts-haskell.git
[submodule "stackage-nightly"]
	path = stackage-nightly
	url = https://github.com/fpco/stackage-nightly.git
